*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    background-color: rgb(155, 100, 206);
    color:rgb(227, 236, 245);
    text-align: center;
    width: auto;
    height: 100px;
    padding: 20px;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
}

.nav-bar {
    background-color: rgb(213, 201, 223);
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    width: auto;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.nav-bar .images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 20px;
}
.nav-bar img{
    background: transparent;
}
body {
    background-color: rgb(194, 148, 238);
    padding: 40px;
}
.about {
    border-radius: 50px;
    background-color: rgb(194, 148, 238);
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.about img {
    position:center;
    height:auto;
    width:500px;
    align-items: center;
    border: 2px solid #2f0b3e;
    border-radius: 40px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.about-text {
    background-color: rgb(224, 231, 237);
    width: 600px;
    height: auto;
    position: center;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
}
.features {
    border-radius: 30px;
    height: 250px;
    background-color: rgb(209, 181, 236);
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
}
.features > div {
    background-color: rgb(224, 231, 237);
    width: auto;
    height: 140px;
    position:center;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
    flex: 1;
    margin: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
footer {
    display: flex;
    flex-wrap:wrap;
    gap:40px;
    align-items:last baseline;
    background-color:  rgb(213, 201, 223);
    text-align: center;
    font-size: 14px;
    margin: 10px auto;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
    gap: 30px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.footer-icons {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  gap: 18px;
}
.footer-icons a img {
  transition: transform 0.2s ease;
  border-radius: 50%;
}
.societies {
    text-align: center;
    background-color: rgb(213, 201, 223);
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    margin: 10px auto;
    padding: 30px;
}
.buttons {
    display: flex;
    flex-direction: center;
    align-items:center;
    gap: 15px;
}
.societies > div > .buttons > div {
    background-color: rgb(224, 231, 237);
    width: 700px;
    height: 50px;
    border: 2px solid #2f0b3e;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    text-align:center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 10px 0;
}