*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
header {
    background-color: rgb(165, 148, 249);
    color:white;
    text-align: center;
    width: auto;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    padding: 40px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.theme-btn {
    position: fixed;
    right: 30px;
    top: 30px;
    background: white;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.dark-mode {
    background: linear-gradient(#1d1730, #2b2340);
    color:  #3a3254;
}

.dark-mode .theme-btn {
    background: #3a3254;
    color: #f3eaff;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode a {
    color: #3a3254 !important;
}


.dark-mode .search-bar {
    background: #6c51ac;
    border-color: #A983FF;
}
.search-bar {
    margin-top: 20px;
    width: 350px;
    padding: 12px 18px;
    border-radius: 30px;       /* makes rounded pill shape */
    border: none;
    outline: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8); /* light pastel like your card */
    color: #000;   /* makes text visible */
}

.search-bar::placeholder {
    color: #555;   /* softer grey placeholder */
}

.home-icon {
    font-size: 26px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.home-icon {
    position: fixed;
    left: 10px;
    top: 30px;
    background: white;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.dark-mode .home-icon {
    background: #3a3254;
    color: #f3eaff;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #4c2a85;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.website-description {
    background: #f3e9ff;
    border: 3px solid #3c1c64;
    padding: 35px 45px;
    border-radius: 60px;
    width: 80%;
    margin: 30px auto 40px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.nav-bar {
    background-color: rgb(245, 239, 255);
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    width: auto;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.nav-bar .images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 20px;
    list-style: none;
}
.nav-bar img{
    background: transparent;
}
.nav-bar img:hover {
    transform: scale(1.08);
}
#nav-tooltip {
  position: absolute;
  background: #ffffff;
  color: #0f0e0e;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}



body {
    background-color: rgb(205, 193, 255);
    padding: 40px;
}
.about {
    border-radius: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.about img {
    position:center;
    height:auto;
    width:500px;
    align-items: center;
    border: 2px solid #2f0b3e;
    border-radius: 40px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.about-text {
    background-color: rgb(245, 239, 255);
    width: 600px;
    height: auto;
    position: center;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
}
.features {
    border-radius: 40px;
    background-color: rgb(229, 217, 242, 0.92);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 40px;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.features > div {
    background-color: rgb(245, 239, 255);
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 25px 30px;
    flex: 1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.features > div:hover {
    transform: scale(1.08);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.18);
}
footer {
    background-color:  rgb(245, 239, 255);
    margin: 10px auto;
    border: 2px solid #2f0b3e;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.footer-left, .footer-right {
    font-size: 16px;
}
.icons {
  display: flex;
  align-items: center;
  gap: 18px;
}
.icons a img {
  transition: transform 0.2s ease;
  border-radius: 50%;
}
.icons img:hover {
    transform: scale(1.08);
}
.societies {
    text-align: center;
    border: 2px solid #2f0b3e;
    border-radius: 35px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    margin: 10px auto;
    padding: 35px;
    background-image: url('../images/fast4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*Alignment of each button within the society class*/
.buttons {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}
/*For every society*/
.societies > div {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background:rgb(245, 239, 255, 0.55);
    background-size: cover;
    border-radius: 50px;
    padding: 20px;
    margin: 25px 0;

}
.societies > div:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
}
/*Designing of each button*/
.societies > div > .buttons > div {
    background: #8a4de8;
    width: 270px;
    height: 55px;
    border: 2px solid #2f0b3e;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    text-align:center;
    transition: transform 0.18s ease, box-shadow 0.18s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.societies > div > .buttons a {
    color: white;
    text-decoration: none;
}
.societies > div > .buttons > div:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
}

/* Container for all events */
.events-container {
    background-image: url('../images/fast4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 50px;
    border: 2px solid #2f0b3e;
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 10px 30px;
}

/* Each event card */
.event-card {
    width: 350px;
    margin: 40px auto;
    overflow: hidden;
    min-height: 420px;
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;

    border-radius: 25px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.event-content {
    position:absolute;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.55);
    background-size: cover;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.4);
    max-width: 600px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
}
.event-content:hover {
    transform: translateY(-6px);
    backdrop-filter: blur(8px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
}
/* Event title */
.event-content h1,
.event-content h2,
.event-content p,
.event-content a{
    margin: 10px 0;
}

/* Buttons */
.register-btn {
    display: inline-block;
    padding: 10px 26px;
    font-size: 16px;
    color: white;
    background: #8a4de8;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.25s;
}

.register-btn:hover {
    background: #6e38bf;
    transform: scale(1.05);
}
